p {
  font-family: Lato;
}

input.ng-invalid{
  border-left: 4px solid red;
}

.aside{
  font-style: italic;
  color: gray;
  margin-bottom:1rem;
  display: block;
}

form input{
  display: block; margin-bottom:1rem;
}

fieldset{
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.body{
  margin: 2rem 4rem
}

input{
  width: 100%;
  border-radius: 0.25rem;
  height: 1.5rem;
  border: lightgray solid 1px;
}

input:focus{
  outline-color: lightskyblue;
  outline-width: 2px;

}