p {
  font-family: Lato;
}

input.ng-invalid{
  border-left: 4px solid red;
  border-radius: 2px 0px 0px 2px;
}

.aside{
  font-style: italic;
  color: gray;
  margin-bottom:1rem;
  display: block;
}

form input{
  display: block; margin-bottom:1rem;
}

fieldset{
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}